ion-header{
    .search-bar{
        font-size: 8px !important;
    }
}

div.spinner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 60px);
}

div.content-container{
    height: calc(100% - 60px);

    ion-list{
        ion-item{

            ion-icon{
                font-size: 28px;
            }
        }
    }

    & > div{
        height: 100% ;
    }

    div.empty-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--ion-color-medium) ;

        img{
            width: 65% ;
            margin-bottom: 10px;
        }
    }
}


.company-name{
    font-size: 12pt;
    font-weight: 500 ;
    text-overflow: ellipsis;
}

.company-code{
    font-size: 10pt ;
    font-weight: 600;
    padding-bottom: 0.5rem;
}

.company-stock-price{
    font-size: 15pt;
    font-weight: 600;
}

.company-other{
    font-size: 12pt;
    font-weight: 600;
}

.danger{
    color: var(--ion-color-danger) ;
}

.success{
    color: var(--ion-color-success) ;
}