<ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="onRefresh($event)">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>

<div class="feed-container" *ngIf="twitter && news && wallstreetbets && investing && !error && !loading">
  <div *ngIf="tab === 'twitter'" class="section-cards">
    <app-tweet [twitter]="twitter"></app-tweet>
  </div>
  
  <div *ngIf="tab === 'reddit'" class="section-cards">
    <app-reddit-post [wallstreetbets]="wallstreetbets" [investing]="investing"></app-reddit-post>
  </div>

  <div *ngIf="tab === 'news'" class="section-cards">
    <app-news-card [news]="news"></app-news-card>
  </div>
</div>

<div class="error-container" *ngIf="error && !loading">
  <img src="assets/images/not-found.svg">
  <p>
    Error occurred while loading, please <a (click)="retry()">try again</a>!
  </p>
</div>

<div class="loading-container" *ngIf="loading && !error">
  <ion-spinner color="primary"></ion-spinner>
</div>