div.error-container, div.loading-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100% ;

    img{
        width: 60% ;
    }

    p{
        color: var(--ion-color-medium) ;
        text-align: center;
        width: 85% ;
    }
}